/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@400;700;900&display=swap');

/* -------------------- */
/* body style css start*/
*{
    padding: 0;
    margin: 0;
}
/*-------------------------*/

/* Common Css style start */
body{
    font-family: 'Merriweather', serif;
}
a{
    text-decoration: none;
}
/*--------------------------*/
/* header css style start */
.header_section{
    width: 88%;
    margin: 0 auto;
    padding-top: 20px;
}
.header_section img{
    width: 1200px;
    height: 600px;
    position: relative;
    
}
.overlay{
    position: absolute;
    width: 1200px;
    height: 600px;
    background: linear-gradient(180deg, #020B11 0%, rgba(7, 2, 17, 0.00) 100%);
    /* background-color: rgb(255, 0, 0); */
    top: 20px;
    left: 82px;
    border-radius: 30px;
}
.text{
    color: aliceblue;
    position: absolute;
    top: 36%;
    left: 36%;
    text-align: center;
}
.heder_title2{
    margin-top: 10px;
    width: 321px;
    font-size: 40px;
}
/* ----------------------------- */
/* 65% Of Section strt */
.Offer_65_off_Sec{
    width: 50%;
    margin: 0 auto;
    /* background-color: rebeccapurple; */
    text-align: center;
}
.offer_sec{
    padding: 50px 0;
}
.offer_sec >h2{
    font-size: 40px;
    color: red;
    font-family: 'Inter', sans-serif;
    margin: 15px 0px;
}
.offer_dis{
    color: red;
}
.offer_sub_title{
    font-size: 35px;
    font-family: 'Inter';
    margin-top: 10px;
}
.offer_img{
    width: 500px;
}
/* ---------------------- */

/* party section css sart */
.party_section{
    width: 1100px;
    margin: 0 auto;
    padding: 80px 0px;
    position: relative;
}
.party_section img{
    width: 1100px;
    height: 500px;
    
}
.party_overlay{
    position: absolute;
    top: 80px;
    left: 0;
    width: 1100px;
    height: 500px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 18px;
}
.party_heading{
    position: absolute;
    top: 150px;
    left: 190px;
    width: 460px;
    height: 400px;
}
.party_heading > h2{
    font-size: 35px;
    font-family: 'Merriweather';
    color: #fff;
    line-height: 55px;
    margin-top: 30px;
    letter-spacing: 5px;
}
.offer_disss{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    word-spacing: 3px;
    font-size: 12px;
    margin-top: 20px;
}
.party_join_button{
    color: #fff;
    display: block;
    margin-top: 40px;
    margin-left: 20px;
}
.party_icon_section{
    width: 200px;
    height: 280px;
    position: absolute;
    top: 170px;
    left: 690px;

}
.party_icon_section img{
    width: 100%;
    height: 100%;
}
/* ------------------------ */

/* park addres section css start  */
.plce_prk{
    width: 80%;
    height: 250px;
    padding: 80px 0px;
    margin: 10px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    border-radius: 20px;
}
.place_park_addres > h3{
    margin: 10px 0px;
    font-family: 'Inter';
    line-height: 30px;
}
.p_col{
    color: #F00;
}
.park_button{
    color: #fff;
    background-color: red;
    margin-top: 25px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    transition: .6s;

}
.park_button:hover{
    border: 1px solid #F00;
    border-radius: 3px;
    background-color: #fff;
    color: #020B11;
}
/* -------------------------------- */

/* new year comming soon section */
.new_year_section{
    width: 85%;
    margin: 20px auto;
    display: flex;
    padding: 10px;
}
.first_colum{
    width: 395px;
    height: auto;
    /* margin: 0px 5px; */
    margin-left: 30px;
    padding-top: 15px;
    padding-left: 35px;
}
.first_colum h5{
    color: red;
    font-family: 'Inter';
    margin: 10px 0px;
}
.first_colum h2{
    font-size: 30px;
    margin: 10px 0px;
    color: #070211;
}
.first_colum p {
    color: rgba(7, 2, 17, 0.60);
    width: 300px;
    height: 130px;
    font-size: 13px;
}
.second_colum{
    width: 395px;
    height: auto;
    margin: 0px 5px;
    margin-right: 30px;
}
.second_colum img{
    width: 200px;
    display: block;
    margin: 0 auto;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 15px;
}
.first_colum_icon{
    width: 395px;
    height: auto;
    margin: 0px 5px;
    padding-top: 15px;
    padding-left: 45px;
}
.first_colum_icon h2{
    color: #ff0000;
    padding: 20px 0px;
    font-family: 'Inter';
}
.first_colum_icon p{
    color: rgba(7, 2, 17, 0.60);
    width: 200px;
    /* height: 80px; */
    font-size: 12px;
}
.first_colum_icon img{
    width: 80px;
    height: auto;
    margin-top: 20px;
}
/* -------------------------------- */

/* holy day section css style  */
.holy_day_sell{
    width: 88%;
    margin: 80px auto;
}
.holyday_text_sec{
    text-align: center;
}
.holyday_text_sec >h2{
    padding: 15px 0px;
    font-size: 35px;
}
.holyday_text_sec h4{
    font-family: 'Inter';
    font-size: 15px;
}
.holy_text{
    color: red;
    font-size: 35px;
}
.holyday_text_sec >p{
    width: 595px;
    font-size: 13px;
    color: rgba(7, 2, 17, 0.60);
    display: inline-block;
    line-height: 20px;
}


.holyday_bnner_Sec{
    width: 88%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.holydy_side_bnner{
    width: 450px;
    height: 450px;
    background: url(image/Rectangle\ 1.png);
    background-repeat: no-repeat;
    position: relative;
}
.holyday_fast_side{
    width: 500px;
    margin: 0px 30px;
}
.holydy_side_bnner img{
    width: 230px;
    height: 230px;
    position: absolute;
    top: 141px;
    left: -105px;
}
.bbbs{
    width: 985px;
    height: 80px;
    position: absolute;
    top: 3295px;
    left: 173px;
}
/* ------------------------------- */

/* awsome portfolio section css */
.our_awsome_portfolio{
    width: 80%;
    margin: 150px auto;
}
.our_awsome_portfolio h4{
    font-family: 'Inter';
    color: red;
    margin: 15px 40px;
}
.our_awsome_portfolio h2{
    margin: 15px 40px;
}
.our_awsome_portfolio p{
    width: 494px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
    color: rgba(7, 2, 17, 0.60);
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 994px;
    margin: 0 auto;
  }
  
.grid img{
    width: 100%;
}
.grid img {
    /* border: 1px solid red; */
    border-radius: 18px;
}
/* ------------------------------ */

/* newsletter section css style  */
.newsletter_section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.newsletter_section img{
    width: 100px;
    margin-bottom: 30px;
}
.newsletter_section h1{
    margin-bottom: 20px;
}
.newsletter_section p {
    width: 553px;
    margin: 0 auto;
    font-size: 12px;
    color: rgba(7, 2, 17, 0.60);
    line-height: 20px;
    margin-bottom: 30px
}
.newsletter_section input {
    margin-bottom: 50px;
    margin-right: 100px;
    width: 200px;
    height: 23px;
    padding: 14px;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    border: none;
}
.subscribe_EmailButton {
    background: red;
    padding: 17px 25px;
    display: inline-block;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    left: 739px;
    color: #fff;
}

/* --------------------------------- */

/* footer section end section  */
.contract_and_addres_sec{
    width: 80%;
    height: 430px;
    margin: 50px auto;
    background: #070211;
    border-radius: 5px;
    color: #fff;
}

.copyright_1 {
    font-size: 10px;
    margin-top: 53px;
    margin-left: 20px;
    display: inline-block;
}
.copyright_2 {
    float: right;
    margin-top: 53px;
    font-size: 9px;
    margin-right: 20px;
}
.footer_title {
    width: 256px;
    font-size: 13px;
    margin-top: 76px;
    margin-left: 70px;
    margin-bottom: 30px;
    line-height: 29px;
    display: inline-block;
}
.footer_call_web {
    width: 300px;
    float: right;
    margin-top: 76px;
}
.calweb {
    display: block;
    line-height: 25px;
}

.footer_icon_sec{
    text-align: center;
    margin: 60px 0px;
}
.footer_icon_sec img{
    width: 40px;
    margin-left: 12px;
}
.new1 {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #040303, #ccc, #040303);
    width: 600px;
    margin: 10px auto;
}
/* ------------------------------ */